body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background-color: black;
	background-image: url(../img/layer.png);
	background-position: top center;
	background-repeat: no-repeat;
}

.visually-hidden:not(focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 16px;
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
	background-color: #000000;
}
.button:disabled,
.button.disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000;
}

.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
	background-color: #000;

}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
	outline: none;
}

/*HEADER START*/


.main-header {
	height: 285px;
}

.site-nav a,
.user-nav a {
	display: inline-block;
	padding: 25px 20px;
}

.main-header-logo {
	width: 368px;
	height: 153px;
	order: 2;
	margin-top: 60px;
}

.main-nav-wrap {
	width: 100%;
	background-color: #000; 

}

.main-nav {
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-container {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
	display: flex;
	justify-content: space-between;
}

.main-nav {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.site-nav {
	display: flex; 
	flex-wrap: wrap;
	width: 730px;
	height: 70px;
	margin: 0;
}

.user-nav {
	height: 70px;
	margin: 0;
	display: flex;
} 
.site-nav .nav-link {
	display: block;
}

.site-nav,
.user-nav {
	list-style: none;
	padding-left: 0;
	
}
.nav-link,
.login-link {
	color: inherit;
}

.user-nav .login-link {
	position: relative;
	display: block;
	padding-left: 50px;

}
.login-link::before {
	position: absolute;

	top: 27px;
	left: 24px;

	content: "";
	width: 16px;
	height: 18px;
	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.current-point {
	  text-decoration: solid underline 4px;
	  text-underline-offset: 24px;
}


.nav-link:hover,
.login-link:hover,
.nav-link:focus,
.login-link:focus {
	background-color: #242424;
}


.site-nav .mini-logo {
	padding: 23px 20px 19px 20px;
	
}

/*Overriding logo for all pages, that is not main page*/

.site-nav .mini-logo:hover {
	background-color: unset;
}

.main-header.not-mainpage {
	height: 70px;
}

/*HEADER END*/

/*MAIN START*/

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}

/*
* index.html start
*/

.features .list-item {
	text-align: center;
}

.features .feature-title {
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;

	color: #000000;

	background-color: #f8f5f2;
	background-image: 
	url(../img/line.png),
	url(../img/pattern_light.png)
		;
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;
}

.index-columns h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.list-item p {
	margin: 0;
}

.list-item {
	margin-bottom: 25px;
}

.news-list {
	margin: 0;
	list-style: none;
	padding-left: 0;
}


.news-date {
	text-transform: none;
}

.gallery-container {
	position: relative;
	height: 260px;
}

.gallery-btn {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	margin: 0;
	width: 140px;
}

.gallery-btn-back {
	left: 0;
}
.gallery-btn-next {
	right: 0;
}


.gallery-content {
	height: 164px;
	margin: 0;
	background-color: #cccccc;
	border: 7px solid #ffffff;

}


.gallery-content img { 
	width: 286px;
	height: 164px;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item label, .appointment-item input {
	display: block;

}

.appointment-item {
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item label {
	padding-left: 15px;
	padding-bottom: 6px;
}

.appointment-item input {
	font: inherit;
	box-sizing: border-box;
	width: 140px;
	height: 43px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
	border: 2px solid #000000;
}

.appointment-item input[type="date"],
.appointment-item input[type="time"]
 {
	padding-right: 10px;

}

.appointment-item input:focus {
	border: 2px solid #663d15;
	outline: none;
}


.appointment-btn {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-right: 0;
}

.appointment {
	width: 300px;
}


.features {
	margin-top: 80px;
	margin-bottom: 80px;
}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.figure-item {
	width: 300px;
	text-align: center;
}
.figure-item h3 {
	position: relative;
	margin: 0;
	margin-bottom: 60px;

	font-size: 30px;
	line-height: 42px;
}
.figure-item h3::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -10px;

	transform: rotate(45deg);
	width: 20px;
	height: 20px;
	background-color: #fff;
}

.figure-item p {
	margin: 0 10px;
}


.news {
	width: 380px;
} 

.gallery {
	width: 300px;
}

/*
* index.html end
*/


/*
* price.html start
*/




 .inner-page-container {
 	padding-top: 60px;
 	color: #000;
 }
 .inner-page-container .page-title {
 	margin: 0;
 	margin-bottom: 15px;
 }

 .breadcrumbs {
 	list-style: none;
 	padding-left: 0;
 }

 .breadcrumbs a {
 	color: inherit;
 }

  .breadcrumbs li {
  	display: inline-block;
  	padding-right: 15px;
  }

 .breadcrumbs :not(:first-child) {
 	position: relative;
	padding-left: 25px;
}
 .breadcrumbs :not(:first-child)::before {
 	content: "";
 	position: absolute;
 	top: 9px;
 	left: 0;
	width: 6px;
	height: 6px;

	transform: rotate(45deg);
	background-color: #000;
 }

.breadcrumbs-current {
	color: #aba9a7; 
}

.inner-page-container h2 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px;
}

.inner-page-container h3 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 20px;
	line-height: 24px;
}

.inner-page-container h2 + h3 {
	margin-top: 30px;
}

.inner-page-container .big-heading {
	display: flex;

	margin-top: 55px;
	margin-bottom: 65px;

	align-items: center;
	text-align: center;
	line-height: 48px;
	font-size: 48px;
}

.big-heading::before,
.big-heading::after {

	flex-grow: 1;
	flex-shrink: 0;

	content: "";
	width: 50px;
	height: 2px;
	background-color: #000;
}

.big-heading::before {
	margin-right: 25px;
}

.big-heading::after {
	margin-left: 25px;
}

.inner-sections {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 60px 0;
}

.inner-sec-right,
.inner-sec-left {
	width: 460px;

}

.inner-sec-right *:first-child,
.inner-sec-left *:first-child {
	margin-top: 0;
}

.inner-sections > h3:first-child {
	width: 100%;
	margin-top: 0;
}

.custom-list-1 {
	list-style: none;
	padding: 0px;
	margin: 14px 0;
}

.custom-list-1  li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list-1  li::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 0px;

	width: 8px;
	height: 8px;

	background-color: #000;
	transform: rotate(45deg);

}

.custom-table {
	width: 100%;
}

.custom-table td {
	width: 50%;
}

.custom-table td:last-child {
	text-align: center;
}

.inner-page-container td {
	padding: 10px 15px;
	border: 2px solid #000;
}

.inner-page-container table {
	border-collapse: collapse;
}

.inner-page-container p {
	margin: 14px 0;
}

.inner-sections {
	margin: 60px 0;
}
/*
* price.html end
*/

/*MAIN END*/


/*FOOTER START*/

.main-footer {
	color: #ffffff;
	margin-top: 65px;
	padding: 60px 0;
	border-color: #212121;
	background-image: url(../img/pattern-darckgray.png);
	background-position: 0 0;
	background-repeat: repeat;
}

.foot-container {
	margin: 0 auto;
	width: 940px;
	display: flex;
}

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
}



.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-socials {
	text-align: center;
	width: 145px;
	margin: 0;
}

.footer-socials ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	width: 43px;
	height: 43px;
	margin-bottom: 6px;

	background-color: #000;
}

.social-button:hover,
.social-button:focus {
	background-color: #fff;
}

.social-button:hover path,
.social-button:focus path{
	fill: #000;
}

.footer-socials b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright {
	text-align: center;
	width: 150px;
	margin: 0;
	margin-left: auto;
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button {
	display: block;
	margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000;

	background-color: #fff;

}

/*FOOTER END*/

/*MODAL START*/

.modal {
	position: fixed;

	color: #000;

	background-color: #f3f8f0;
	background-image: url(../img/pattern_light.png);
	background-position: 0 0;
	background-repeat: repeat;

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	border: 0;
	cursor: pointer;
	    background-color: unset;
}
.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	width: 19px;
	height: 3px;
	top: 10px;
	left: 2px;
	background-color: #d0d0d0;
}

.modal-close::before {
	transform: rotate(45deg);
}
.modal-close::after {
	transform: rotate(-45deg);
}

.modal-map {
	display: none;

	top: 50%;
	left: 50%;

	width: 766px;
	height: 561px;

	margin-top: -280px;
	margin-left: -390px;

	border: 7px solid white;
}

.modal-map p {
	margin: 0;
}

.modal-login {
	display: none;

	top: 125px;
	left: 50%;
	margin-left: -230px;
	width: 300px;
	padding: 50px 80px;
}

.modal h2 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-descrition {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	padding-left: 16px;
	padding-right: 40px;
	font: inherit;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;

	border: 2px solid #000;
	outline: none;
}

.login-form input[type="email"] {
	background-image: url(../img/user_icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 15px)  center;
}

.login-form input[type="password"] {
	background-image: url(../img/password_icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 15px)  center;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-help {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 15px 0;
}

/* CHECKBOX START*/

.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.login-checkbox input[type="checkbox"]:active + .checkbox-indicator,
.login-checkbox input[type="checkbox"]:hover + .checkbox-indicator { 
	border-color:  #663d15;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}



/* CHECKBOX END*/


.restore {
	text-decoration: underline;
	color: #000;
}

.restore:focus,
.restore:hover {
	text-decoration: none;
}


.login-form .button {
	margin-right: 0;
	width: 100%;
}


/*MODAL END*/
.main-header-logo {
	display: none;
}


/*HEADER OVERRIDE START*/

